In [4]:
# Importing the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
import datetime
import string
import scipy as sp
import tensorflow as tf
# All warnings are ignored by setting the first parameter to 'ignore' 
warnings.filterwarnings("ignore")

In [5]:
# Inserting the training and testing data
train = pd.read_csv('F:\Yash\Dataset_SSOC\written_name_train_v2.csv')
valid = pd.read_csv('F:\Yash\Dataset_SSOC\written_name_validation_v2.csv')

In [7]:
# Used to return top 5 rows of the dataset
train.head()

          FILENAME   IDENTITY
0  TRAIN_00001.jpg  BALTHAZAR
1  TRAIN_00002.jpg      SIMON
2  TRAIN_00003.jpg      BENES
3  TRAIN_00004.jpg    LA LOVE
4  TRAIN_00005.jpg     DAPHNE

In [8]:
valid.head()

              FILENAME    IDENTITY
0  VALIDATION_0001.jpg       BILEL
1  VALIDATION_0002.jpg  LAUMIONIER
2  VALIDATION_0003.jpg         LEA
3  VALIDATION_0004.jpg   JEAN-ROCH
4  VALIDATION_0005.jpg        RUPP

In [9]:
# Checking for NULL values
train.isnull().sum()

FILENAME      0
IDENTITY    565
dtype: int64

In [10]:
valid.isnull().sum()

FILENAME     0
IDENTITY    78
dtype: int64